.portfolio-detail-container-section {
  display: flex;
  height: 100vh;
  .portfolio-detail-section {
    padding: 28px 32px 72px 140px;
    @media only screen and (max-width: 1024px) {
      padding: 28px 0px 72px 32px;
    }
    display: flex;
    flex-direction: column;

    embed {
      width: 88vw;
      height: 100vh;
    }
  }
}