.footer-container {
  background-color: #1c1c1d;
  color: #848484;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  z-index: 9999;
  width: 100%;
  bottom: 0;
  height: 80px; 
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    height: 100px;
    align-items: center;
    padding-bottom: 24px;
  }
  .footer-left {
    display: flex;
    align-items: center;
    margin-left: 16px;
    @media only screen and (max-width: 768px) {
      text-align: center;
      margin-left: 0px;
    }
    font-family: 'ProximaNovaRegular';
  }

  .footer-right {
    display: flex;
    align-items: center;
    margin-right: 50px;
    font-family: 'ProximaNovaSemiBold';
    @media only screen and (max-width: 768px) {
      margin-top: 24px;
      flex-direction: column;
      margin-right: 0px;
    }

    .footer-right-text {
      margin-right: 24px;
    }

    .logo {
      display: flex;
      align-items: center;
      @media only screen and (max-width: 768px) {
        margin-top: 16px;
      }
      img {
        width: 16px;
        height: 16px;
        margin-right: 24px;
      }
    }
  }


}