header {
  // height: 100vh;
  background-color: #1c1c1d;
  position: relative;
  transition: height 3s;
  height: 100vh;


  .header-content {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 15%;
    bottom: 0;
    .welcome-title {
      // font-family: 'ProximaNova';
      font-size: 40px;
      @media only screen and (max-width: 414px) {
        font-size: 32px;
      }
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      transition: transform .5s;
    }
    .welcome-sub {
      text-align: center;
      height: 40px;
      width: 295px;
      // font-family: ProximaNova;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-left: auto;
      margin-right: auto;
      color: #e6e6e6;
      transition: transform 2s;
    }
    .header-bottom {
      .normal {
        display: none;
        @media only screen and (max-width: 1298px) {
          display: block;
          .ship {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 98px;
            position: absolute;
            top: 27%;
            left: 46.3%;
            z-index: 10;
    
            @media only screen and (max-width: 1440px) {
              margin-top: 0;
              left: 44.5%;
              top: 24%;
            }

            @media only screen and (max-width: 1024px) {
              left: 43%;
              top: 24%;
            }

            @media only screen and (max-width: 992px) {
              left: 40.5%;
              top: 24%;
            }

            @media only screen and (max-width: 823px) {
              left: 41.5%;
              top: 24%;
            }

            @media only screen and (max-width: 667px) {
              left: 39.5%;
              top: 24%;
            }
    
            @media only screen and (max-width: 568px) {
              left: 37.5%;
              top: 24%;
            }

            @media only screen and (max-width: 414px) {
              left: 32.5%;
              top: 24%;
            }
          }
          .grey-cloud {
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 1;
            height: 380px;
            @media only screen and (max-width: 1440px) {
              height: 280px;
            }
            background-image: url('../../img/grey-cloud.png');
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;
          }
    
          .white-clound {
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 2;
            height: 200px;
            @media only screen and (max-width: 1440px) {
              height: 150px;
            }
            background-image: url('../../img/white-cloud.png');
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;
          }
        }

      }

      .a {
        border: 2px solid #000;
        width: 18px;
        height: 36px;
        border-radius: 48px;
        position: absolute;
        z-index: 20;
        left: 49%;
        bottom: 80px;
        transition: opacity 1.5s;
        @media only screen and (max-width: 1440px) {
          bottom: 40px;
        }
        cursor: pointer;
        .b {
          width: 2px;
          background-color: black;
          margin-left: 9px;
          margin-top: 5px;
          position: relative;
          animation: vertical-line 2s ease-in-out infinite;
          &:before {
            width: 1.5px;
            height: 12px;
            background-color: black;
            display: inline-block;
            position: absolute;
            content: "";
            right: 4px;
            animation: vertical-bf 2s ease-in-out infinite;
          }
          &:after {
            width: 1.5px;
            height: 12px;
            background-color: black;
            display: inline-block;
            position: absolute;
            content: "";
            left: 4px;
            animation: vertical-af 2s ease-in-out infinite;
          }
        }
      }
      
      @keyframes vertical-line {
        0% {
          opacity: 0;
          height: 0;
          transform: translateY(0px);
        }
        75% {
          opacity: 1;
          height: 25px;
          transform: translateY(0px);
        }
        100% {
          opacity: 0;
          height: 0;
          transform: translateY(30px);
        }
      }
      @keyframes vertical-bf {
        0% {
          opacity: 0;
          transform: translateY(-15px) rotate(-45deg);
        }
        75% {
          opacity: 1;
          transform: translateY(15px) rotate(-45deg);
        }
        100% {
          opacity: 0;
          transform: translateY(25px) rotate(-45deg);
        }
      }
      @keyframes vertical-af {
        0% {
          opacity: 0;
          transform: translateY(-15px) rotate(45deg);
        }
        75% {
          opacity: 1;
          transform: translateY(15px) rotate(45deg);
        }
        100% {
          opacity: 0;
          transform: translateY(25px) rotate(45deg);
        }
      }

      .scroll-text {
        position: absolute;
        bottom: 45px;
        text-align: center;
        height: 15px;
        // font-family: ProximaNova;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #848484;
        z-index: 20;
        left: 46.5%;
        transition: opacity 1.5s;
        @media only screen and (max-width: 1440px) {
          left: 45%; 
          bottom: 18px;
        }
        @media only screen and (max-width: 414px) {
          left: 36%; 
          bottom: 18px;
        }
      }
        
      .react-parallax  {
        overflow: unset !important;
        @media only screen and (max-width: 1298px) {
          display: none;
        }
        .grey-cloud-para {
          z-index: 9;
          height: 282px !important;
          @media only screen and (max-width: 1440px) {
            height: 200px !important;
            top: 98%;
          }
          width: 100% !important;
          top: 75%;
        }
        .ship-para {
          height: 480px !important;
          width: auto !important;
          top: 90%;
          z-index: 10;
          @media only screen and (max-width: 1440px) {
            top: 120%;
          }
          
        }

        .react-parallax-content {
          .clound-height {
            height: 60vh;
            @media only screen and (max-width: 1440px) {
              height: 68vh;
            }
          }
        }
      }

      .cloud {
        overflow: hidden !important;
      }

    }
  }
}

@media only screen and (max-width: 768px) {

}