.about-us-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-top: 56px;
  padding-bottom: 65px;
  padding: 56px 136px 0px 136px;
  z-index: 99;
  position: relative;
  @media only screen and (max-width: 1024px) {
    margin-top: 20px;
    padding-bottom: 65px;
    padding: 60px 64px 60px 64px;
    height: 100%;
  }
  @media only screen and (max-width: 414px) {
    padding: 0 0 32px 0;
  }
  .title {
    height: 34px;
    // font-family: ProximaNova;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    padding-bottom: 6px;
  }

  .about-showcase {
    margin-top: 32px;
    padding: 32px 0px;
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }
    @media only screen and (max-width: 768px) {
      justify-content: center;
      margin-top: 48px;
    }

    @media only screen and (max-width: 414px) {
      padding: 0px 24px;
    }

    .about-item {
      img {
        margin-left: auto;
        margin-right: auto;
      }
      display: flex;
      flex: 0 0 33.33%;
      flex-direction: column;
      text-align: center;

      .flag-ship {
        transition: transform .5s;
      }

      .flag-ship:hover {
        transform: translateY(-10%);
      }

      .astronaut-img {
        transition: transform 1s;
      }

      .astronaut-img:hover {
        transform: translateY(-100%);
      }
    }
    h3 {
      height: 24px;
    // font-family: ProximaNova;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1c1c1c;
    }

    p {
      width: 307px;
      height: 85px;
      margin-left: auto;
      margin-right: auto;
      // font-family: ProximaNova;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #757575;
    }
  }
}