@supports (font-variation-settings: normal) {
  html {
    height: 100%;
    body{
      min-height: 100%;
      margin: 0;
      position: relative;
      div {
        outline-style: none;
      }
    }
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
  }
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Light.otf") format("opentype");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Bold.otf") format("opentype");
}

@font-face {
  font-family: 'ProximaNovaSemiBold';
  src: url("../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Semibold.otf") format("opentype");
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Regular.otf") format("opentype");
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Light.otf") format("opentype");
}