label {
  color: #ffffff !important;
}

#outlined-full-width {
  width: 100%;
}
.contact-form {
  display: flex;
  flex: 0 0 45%;
  flex-direction: column;
  margin-top: 38px;
  margin-right: 64px;
  height: 580px;

  @media only screen and (max-width: 1280px) {
    flex: 0 0 100%;
    margin-right: 0px;
    margin-top: 16px;
  }

  @media only screen and (max-width: 414px) {
    margin-top: 40px;
  }

  .choose-option-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 32px;
    @media only screen and (max-width: 576px) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  textarea {
    color: #ffffff;
    position: relative;
    height: 90px;
    top: 20px;
    @media only screen and (max-width: 1024px) {
      top: 0px;
    }
  }

  fieldset {
    border-color: #ffffff !important;
    height: 156px;
    @media only screen and (max-width: 1024px) {
      height: 180px;
    }
    @media only screen and (max-width: 576px) {
      height: 90px;
    }
  }

  .MuiFormControl-root-66 {
    position: relative;
    top: 70px;
    @media only screen and (max-width: 414px) {
      top: 100px;
    }
  }

  input {
    height: 24px;
    // font-family: ProximaNova;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  input::after {
    border-bottom: 1px solid #ffffff;
    width: 500px;
    width: 100%;
  }

  .form-bottom {
    display: flex;
    @media only screen and (max-width: 576px) {
      flex-direction: column;
    }
    font-family: 'ProximaNovaSemiBold';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    justify-content: space-between;

    .tell-more {
      display: flex;
      font-family: 'ProximaNovaSemiBold';
      align-items: center;
      svg {
        margin-left: 8px;
      }
    }

    button {
      font-size: 14px;
    }

    .form-bottom-right {
      background-color: #1c1c1d;
      border: none;
      color: white;
      padding: 15px 5px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      border-bottom: 1px solid #ffffff;
      font-size: 14px;
      width: 63px;
      cursor: pointer;
    }

    .form-bottom-right-second-form {
      background-color: #1c1c1d;
      border: none;
      color: white;
      padding-bottom: 24px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      border-bottom: 1px solid #ffffff;
      cursor: pointer;
      margin-top: 70px;
      @media only screen and (max-width: 768px) {
        margin-top: 24px;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 8px;
      }
      @media only screen and (max-width: 414px) {
        margin-top: -16px;
      }
    }

    .form-bottom-right-third-form {
      font-size: 16px;
      border-bottom: 1px solid #ffffff;
      cursor: pointer;
      padding-bottom: 16px;
      position: relative;
      top: 120px;
      left: 2%;
      margin-bottom: 16px;
      @media only screen and (max-width: 576px) {
        top: 0px;
      }
    }
  }

  .MuiInputLabel-animated-17 {
    transition: color 400ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 400ms cubic-bezier(0.0, 0, 0.2, 1) 0ms
  }

  .second-form-title {
    height: 24px;
    font-family: 'ProximaNovaLight';
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    
  }

  .second-form-subtitle {
    text-transform: uppercase;
    margin-top: 40px;
    height: 17px;
    @media only screen and (max-width: 768px) {
      margin-top: 24px;
    }
    font-family: 'ProximaNovaSemiBold';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #757575;
  }

  .value-on-web {
    font-family: 'ProximaNovaSemiBold';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    position: relative;
    top: 3.5px;
  }

  .radio-item {
    display: flex;
    align-items: center;
    flex: 0 0 43%;
    @media only screen and (max-width: 1440px) {
      flex: 0 0 40%;
    }
    @media only screen and (max-width: 1024px) {
      flex: 1 0 40%;
    }
    @media only screen and (max-width: 414px) {
      flex: 0 0 90%;
      margin-bottom: 30px;
    }
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #5d5d5d;
      border-radius: 50%;

      span {
        border-radius: 4px;
      }

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    &:hover input ~ .checkmark {
      background-color: #686666;
    }

    input:checked ~ .checkmark {
      background-color: #5d5d5d;
    }
  }

  
  /* Show the indicator (dot/circle) when checked */
  .radio-item input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-item .checkmark:after {
     top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .checkbox-item {
    display: flex;
    align-items: center;
    flex: 0 0 43%;
    @media only screen and (max-width: 1440px) {
      flex: 1 0 40%;
    }
    @media only screen and (max-width: 414px) {
      flex: 0 0 90%;
      margin-bottom: 16px;
    }
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #5d5d5d;
    border-radius: 4px;
    border: solid 1px #848484;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-item:hover input ~ .checkmark {
    background-color: #5d5d5d;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-item input:checked ~ .checkmark {
    background-color: #5d5d5d;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-item input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-item .checkmark:after {
    left: 6px;
    width: 5px;
    height: 11px;
    border: solid 1px white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .third-form-title {
    font-family: 'ProximaNovaSemiBold';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #757575;
    text-transform: uppercase;
  }
}