.open-position-section{
    height: 660px;
    width: 100%;
    background-color: #1c1c1d;
    .position-at-rockship{
        height: 135px;
        display: flex;
        .left {
            height: 135px;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .open-position-title-box{
                height: 114px;
                width: 399px;
                margin-right: 186px;
                .title-line{
                    width: 57px;
                    height: 4px;
                    background-color: #ffffff;
                }
                .title{
                    width: 399px;
                    height: 46px;
                    font-family: 'ProximaNovaBold';
                    font-size: 48px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #ffffff;
                    margin-top: 16px;
                    text-transform: uppercase;
                }
                .line{
                    width: 273px;
                    height: 17px;
                    font-family: 'ProximaNovaRegular';
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #ffffff;
                }
                .one{
                    margin-top: 14px;
                }
            }
        }
        .right {
            height: 135px;
            width: 50%;
            .position-group{
                height: 105px;
                width: 512px;
                margin-left: 73px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                .position{
                    height: 105px;
                    width: 128px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .position-clicking-area{
                        height: 89px;
                        width: 48px;
                        .position-icon{
                            height: 48px;
                            width: 48px;
                            margin-top: 8px;
                            display: flex;
                            flex-direction: column;
                        }
                    }
                    .title{
                        width: 128px;
                        height: 17px;
                        margin-top: 24px;
                        font-family: 'ProximaNovaBold';
                        font-size: 14px;
                        font-weight: bold;
                        text-align: center;
                        opacity: 0.1;
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .apply-position{
        margin-top: 52px;
        height: 473px;
        width: 100%;
    }
}